---
version: "3.7"

services:
  pulp-galaxy:
    image: "localhost/pulp-galaxy/pulp-galaxy-dev:latest"
    build:
      context: "${CONTEXT_DIR}"
      dockerfile: "dev/pulp_galaxy/Dockerfile"
    command: ['run', 'pulp-galaxy']
    environment:
      - 'PULP_DB_HOST=postgres'
      - 'PULP_REDIS_HOST=redis'
    ports:
      - "8000:8000"
    volumes:
      - "../dev/pulp_galaxy/settings.py:/etc/pulp/settings.py"
      - "../src/pulp_galaxy:/app"
    depends_on:
      - postgres
      - redis

  pulp-resource-manager:
    image: "localhost/pulp-galaxy/pulp-galaxy-dev:latest"
    command: ['run', 'pulp-resource-manager']
    environment:
      - 'PULP_DB_HOST=postgres'
      - 'PULP_REDIS_HOST=redis'
    depends_on:
      - postgres
      - redis

  pulp-worker:
    image: "localhost/pulp-galaxy/pulp-galaxy-dev:latest"
    command: ['run', 'pulp-worker']
    environment:
      - 'PULP_DB_HOST=postgres'
      - 'PULP_REDIS_HOST=redis'
    depends_on:
      - postgres
      - redis

  pulp-content-app:
    image: "localhost/pulp-galaxy/pulp-galaxy-dev:latest"
    command: ['run', 'pulp-content-app']
    environment:
      - 'PULP_DB_HOST=postgres'
      - 'PULP_REDIS_HOST=redis'
    depends_on:
      - postgres
      - redis

  postgres:
    image: "postgres:11"
    ports:
      - "5432:5432"
    env_file:
      - '${CONTEXT_DIR}/dev/env/postgres'
    volumes:
      - '${CONTEXT_DIR}/dev/postgres/initdb.d:/docker-entrypoint-initdb.d:ro'
      - "pg_data:/var/lib/postgresql/data"

  redis:
    image: "redis:5"
    volumes:
      - "redis_data:/data"


volumes:
  pg_data: {}
  pulp_data: {}
  redis_data: {}
