---
version: "3.7"

services:
  pulp-galaxy:
    image: "localhost/${COMPOSE_PROJECT_NAME}/pulp-galaxy:latest"
    build:
      context: "${CONTEXT_DIR}"
      dockerfile: "dev/pulp_galaxy/Dockerfile"
    command: ['run', 'pulp-galaxy']
    env_file:
      - '${CONTEXT_DIR}/dev/env/pulp'
    ports:
      - "8000:8000"
    volumes:
      - "../dev/pulp_galaxy/settings.py:/etc/pulp/settings.py"
      - "../src/pulp_galaxy:/app"
      - "pulp_artifact:/var/lib/pulp/artifact"
    depends_on:
      - postgres
      - redis

  pulp-resource-manager:
    image: "localhost/${COMPOSE_PROJECT_NAME}/pulp-galaxy:latest"
    command: ['run', 'pulp-resource-manager']
    env_file:
      - '${CONTEXT_DIR}/dev/env/pulp'
    volumes:
      - "../dev/pulp_galaxy/settings.py:/etc/pulp/settings.py"
      - "../src/pulp_galaxy:/app"
      - "pulp_artifact:/var/lib/pulp/artifact"
    depends_on:
      - postgres
      - redis

  pulp-worker:
    image: "localhost/${COMPOSE_PROJECT_NAME}/pulp-galaxy:latest"
    command: ['run', 'pulp-worker']
    env_file:
      - '${CONTEXT_DIR}/dev/env/pulp'
    volumes:
      - "../dev/pulp_galaxy/settings.py:/etc/pulp/settings.py"
      - "../src/pulp_galaxy:/app"
      - "pulp_artifact:/var/lib/pulp/artifact"
    depends_on:
      - postgres
      - redis

  pulp-content:
    image: "localhost/${COMPOSE_PROJECT_NAME}/pulp-galaxy:latest"
    command: ['run', 'pulp-content']
    env_file:
      - '${CONTEXT_DIR}/dev/env/pulp'
    volumes:
      - "../dev/pulp_galaxy/settings.py:/etc/pulp/settings.py"
      - "../src/pulp_galaxy:/app"
      - "pulp_artifact:/var/lib/pulp/artifact"
    depends_on:
      - postgres
      - redis

  postgres:
    image: "postgres:11"
    ports:
      - "5432:5432"
    env_file:
      - '${CONTEXT_DIR}/dev/env/postgres'
    volumes:
      - '${CONTEXT_DIR}/dev/postgres/initdb.d:/docker-entrypoint-initdb.d:ro'
      - "pg_data:/var/lib/postgresql/data"

  redis:
    image: "redis:5"
    volumes:
      - "redis_data:/data"


volumes:
  pulp_artifact: {}
  pg_data: {}
  redis_data: {}
